<nav class="navbar navbar-expand-lg navbar-light bg-light barra">
    <div class="divbaRight">
        <a class="navbar-brand" href="#">
                <img src="assets/logo_live.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class="whiteText">MSN its back</span>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item divbar">
                <a class="nav-link " href="#"><span  class="whiteText">Configuracion</span></a>
              </li>
              <li class="nav-item divbar">
                <a class="nav-link " href="#"><span class="whiteText">Acerca De</span></a>
              </li>
            </ul>
          </div>
</nav>

<router-outlet></router-outlet>