<nav class="navbar navbar-expand-lg navbar-light bg-light barra">
    <div class="divbar">
        <a class="navbar-brand whiteText" href="#">
                <img src="assets/logo_live.png" width="30" height="30" class="d-inline-block align-top" alt="">
                MSN its back
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item divbar">
                <a class="nav-link whiteText" href="#">Configuracion</a>
              </li>
              <li class="nav-item divbar">
                <a class="nav-link whiteText" href="#">Acerca De</a>
              </li>
            </ul>
            <span class="navbar-text whiteText">
              Navbar text with an inline element
            </span>
          </div>
</nav>

<router-outlet></router-outlet>