<div class="backgroundHome">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameonline">
            <img style="height: 80px;width: 80px" id="homeAvatarPicture" src="{{myUser.avatar}}">

          </div>
        </div>
        <div class="col">
          <b>{{myUser.name}}</b>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>{{myUser.status}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="setUserProperty('status', 'online')">Conectado</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'away')">Ausente</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'busy')">Ocupado</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'appear_offline')">Desconectado</button>
              <div class="dropdown-divider"></div>
              <button (click)="logOut()" class="dropdown-item">Cerrar Sesión</button>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <span>Cambia tu subNick:
                <input class="form-control" type="text" (keyup.enter)="setUserSubNick()" [(ngModel)]="subNickValue"
                  placeholder="{{myUser.subNick}}">
              </span>
            </div>
            <div class="col-md-6">
              <span>Cambia tu nick:
                <input class="form-control" type="text" (keyup.enter)="setUserNick()" [(ngModel)]="nickValue"
                  placeholder="{{myUser.nick}}">
              </span>
            </div>

          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="whiteContainerPadded marto15">
    <div class="row">
      <div class="input-group col-md-12">
        <input class="form-control py-2" type="search" [(ngModel)]="query" placeholder="buscar un contacto o un número" id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
            <!--<button type="button" id="btnOpen"(click)="openModal(true)"></button>-->
            <img src="assets/msn_imgs/logo_live_add.png" class="img-fluid icon" alt="">
          </button>
        </span>
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="users">
      <div class="col-md-12">
        <b>Amigos ({{userObject.friends.length}}/{{userObject.friends.length}})</b>
      </div>
      <app-friend  class="col-md-12" *ngFor="let u of userObject.friends | search: query" [user_id]="u"></app-friend>

    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Ingresar el email de tu amigo</b>
    <input type="email" class="form-control" placeholder="Agregar amigo" [(ngModel)]="requestEmail">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Enviar</button>
  </div>
</ng-template>

<ng-template #friendRequest let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="card-text">¿Deseas Agregar a esta persona a tu lista de amigos?</p>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" name="addToMsn" value="yes" id="add-yes" [(ngModel)]="shouldAdd" />
      <label class="custom-control-label" for="add-yes">Si. Los Contacto de Messenger forman parte de tu red.</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" name="addToMsn" value="no" id="add-no" [(ngModel)]="shouldAdd" />
      <label class="custom-control-label" for="add-no">No. Note preocupes no diremos a nadie tu decisión</label>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="accept()">Aceptar</button>
    <button type="button" class="btn btn-dark" (click)="decideLater()">Decidir más tarde</button>
  </div>
</ng-template>
<hr>
<pre>{{closeResult}}</pre>



